extends layout

block content
  a(href="/new")
    div(id="sendMessage")= "Send New Message"
  each message in messages
    div(id="here")
      h5= "Sent by: " + message.user + " on: " + message.added.toDateString()
      h2= message.text
